# misc
.DS_Store
bin2list
genroms
turacocl
asz80
aslink
copt
dcpp
sccz80
zcc
a.ihx
code/z80kernel/version.asm

*.rel
*.swp

# exes
bin
dz80

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

